[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
server = "python manage.py runserver"
prod-server = "gunicorn conf.wsgi:application --bind 0.0.0.0:8000"
dev-server = "python manage.py runserver"
tests = "pytest"
celery = "python manage.py celery_autoreload"
test-celery = "python manage.py command_test_celery"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
shell = "python manage.py shell"
createsuperuser = "python manage.py createsuperuser"
static = "python manage.py collectstatic"

[packages]
django = "==4.2.14"
psycopg2-binary = "*"
celery = "*"
gunicorn = "*"
django-environ = "*"
django-debug-toolbar = "*"
django-webpack-loader = "*"
django-extensions = "*"
django-registration-redux = "*"
isort = "*"
flake8 = "*"

[dev-packages]
django = "==4.2.14"
flake8 = "*"
isort = "*"
django-debug-toolbar = "*"
pytest = "*"
pytest-django = "*"
redis = "*"
pytest-env = "*"

[requires]
python_version = "3.12"
